<p>
	<span class="text-nowrap">Ajudando você a encontrar o seguro</span>
	<span class="text-nowrap">que se adapta às suas necessidades,</span>
	<span class="text-nowrap">ao seu orçamento e ao seu estilo de vida</span>
</p>