<footer>
<div class="container">
	<div class="row gy-1">
		<div class="col-12">
			<ul class="nav justify-content-center">
				<%- partial(`${language.locale}/_navItems`); _%>
			</ul>
		</div>
		<div class="col-12 col-sm-8 text-muted text-center text-sm-start">
			<ul class="list-unstyled">
				<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:7866604610">(786) 660-4610</a></li>
				<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:contact@camilabalboa.com">contact@camilabalboa.com</a></li>
			</ul>
		</div>
		<div class="col-12 col-sm-4 text-center text-sm-end">
			<ul class="social">
				<li>
					<a target="_blank" rel="noopener noreferrer nofollow" href="https://www.instagram.com/insurancesbycamila/" aria-label="Instragram"><i class="fa-brands fa-instagram"></i></a>
				</li>
				<li>
					<a target="_blank" rel="noopener noreferrer nofollow" href="https://wa.me/17866604610" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
				</li>
				<li>
					<a target="_blank" rel="noopener noreferrer nofollow" href="https://www.linkedin.com/in/camilabalboagarcia/" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-12 text-center">
			<span class="text-muted fw-light fs-6">&copy; 2023 Camila Balboa</span>
		</div>
	</div>
</div>
</footer>