<header>
<nav class="navbar navbar-site navbar-expand-sm" data-bs-theme="dark">
	<div class="container">
		<a class="navbar-brand fw-semibold" href="/<%= language.locale %>">Camila Balboa</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
				<%- partial(`${language.locale}/_navItems`); _%>
				<%- partial("_languageSelector") _%>
			</ul>
		</div>
	</div>
</nav>
</header>