<%
	const locale = partial("_locale");

	const label = (() => {
		switch (locale) {
			case "es":
				return "Idioma";

			case "pt":
				return "Idioma";

			case "en":
			default:
				return "Language";
		}
	})();
%>
<li class="nav-item dropdown-center">
	<button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		<span class="me-2 d-sm-none"><%= label %></span>
		<img class="rounded" width="16px" height="16px" alt="<%= locale %>" src="/images/languages/<%= locale %>.png">
	</button>
	<ul class="dropdown-menu dropdown-menu-end">
		<li><a class="dropdown-item d-flex align-items-center" href="/en" lang="en"><img class="me-2" width="16px" height="16px" src="/images/languages/en.png" alt="en">English</a></li>
		<li><a class="dropdown-item d-flex align-items-center" href="/es" lang="es"><img class="me-2" width="16px" height="16px" src="/images/languages/es.png" alt="es">Español</a></li>
		<%#<li><a class="dropdown-item d-flex align-items-center" href="/pt" lang="pt"><img class="me-2" width="16px" height="16px" src="/images/languages/pt.png" alt="pt">Português</a></li>%>
	</ul>
</li>